<html lang="en">

<%- include("./partials/head") %>

  <body>
    <%- include("./partials/nav") %>


      <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae vero,
          nisi
          tenetur quis ut tempora doloremque! Atque, libero sed? At deserunt
          magni
          quidem placeat quas, nam perspiciatis quod maiores laudantium.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae vero,
          nisi
          tenetur quis ut tempora doloremque! Atque, libero sed? At deserunt
          magni
          quidem placeat quas, nam perspiciatis quod maiores laudantium.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae vero,
          nisi
          tenetur quis ut tempora doloremque! Atque, libero sed? At deserunt
          magni
          quidem placeat quas, nam perspiciatis quod maiores laudantium.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae vero,
          nisi
          tenetur quis ut tempora doloremque! Atque, libero sed? At deserunt
          magni
          quidem placeat quas, nam perspiciatis quod maiores laudantium.</p>
      </div>
      <%- include("./partials/footer") %>

  </body>

</html>