<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
</head>

<body>
  <h1>The about page</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, eos autem
    nesciunt laboriosam non nisi numquam itaque saepe possimus asperiores.
    Numquam, ipsam adipisci. Consequatur velit nulla expedita placeat tenetur
    maiores.</p>
  <nav>
    <a href="/">Home Page</a>
    <a href="/about">About Page</a>
  </nav>

</body>

</html>